body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    background: url('/Images/bus.jpg') no-repeat center center/cover;
}

header {
    background-color: rgb(56, 209, 244); /* Light blue background color */
    text-align: center;
    padding: 1em 0;
}

header h1 {
    margin: 0;
    font-size: 2em;
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #333;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #0eb8c7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    padding-bottom: 100px;

}

section {
    margin-bottom: 20px;
}

section h2 {
    font-size: 1.5em;
    color: #0f0108;
}

section p, section ul {
    font-size: 1em;
    color: #460202;
}

section ul {
    list-style-type: none;
    padding: 0;
}

section ul li {
    margin-bottom: 10px;
}

section ul li a {
    color: #1a73e8; /* Link color */
    text-decoration: none;
}

section ul li a:hover {
    text-decoration: underline;
}
